html,body,table {margin: 0; padding: 0; font: 12px Arial; color: #231f20;}
p {margin: 7px 0;}
h1 {margin: 10px; font: 24px Arial; text-align: center; color: #231f20}    
a {color: #409dff; font: 12px Arial; text-decoration: underline;}
a:hover {color: #ff4d42; text-decoration: none;}

.page {width: 100%; text-align: center;}     
.content {margin: 0 auto; padding: 20px; background: #f9f9f9; text-align: left; } 
.page_title {color: #231f20; font-size: 20px; padding: 0 0 10px 2px; background: #f9f9f9; text-align: left;} 
.needwidth {margin: 0 auto; max-width: 1400px; min-width: 800px; text-align: left; position: relative;}
.sam_kontent {border: 1px solid #efefef; background: #ffffff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 24px; margin-right: 267px; clear: left; }
 